body{
	font-family: 'Roboto', sans-serif;

}
body h1,h2,h3{
font-family: 'Orbitron', sans-serif;
}
body p{
	font-family: 'Oxygen', sans-serif;
}
.jumbotron {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom: 0px;
	background-image: url('../img/spacebg.jpg');
}
#navbar{
	font-family: 'Open Sans Condensed', sans-serif;

}
.navbar-fixed-top{
 	width:100%;
	background-color: linen;
	background: rgba(0, 0, 0, 0.99);
}
.fixed-links{
	padding-right: 16px;
}
.navbar{
	/*-webkit-backface-visibility: hidden;*/
	margin-bottom: 0px;
	background-color: black;
	border-radius: 0px;
	border:none;
	color:white;
}
.navbar-header{
	color:white;
}
.navbar .navbar-header a{
	color:white;
}
.navbar .navbar-header a:hover,
.navbar .navbar-header a:active,
.navbar .navbar-header a:focus
{
	/*color:#18BC9C;*/
	color:#3cf;

}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus,
{
	background-color: blue;
}
.navbar .navbar-nav li a
{
	color:white;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus
{
	/*color:#18BC9C;*/
	color:#3cf;
}

#portfolio{
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	background-color: linen;
	height:450px;
}

.port_height{
	height: 375px;
}

#about{
	font-family: 'Open Sans Condensed', sans-serif;
	color:black;
	background-color: linen;
}

#sponsorship{
	font-family: 'Open Sans Condensed', sans-serif;
	color:black;
	background-color:linen;	
}
#delegates{
	color:white;
	background-image: url('../img/spacebg.jpg');
}
#footer{
	color:white;
	background-image: url('../img/spacebg.jpg');

}

#speakers{
	color:white;
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: url('../img/spacebg.jpg');
	background-position: center bottom;
}
#team{
	font-family: 'Open Sans Condensed', sans-serif;
	color:black;
	background-color: linen;
}
.affix {
      top: 0;
      width: 100%;
  }

 .affix + .container-fluid {
      padding-top: 20px;
 }

  #speakers .container-fluid .row .speaker{
    height:150px;
  }

  #speakers a:hover,
  #speakers a:active,
  #speakers a:focus{
  	/*color: #3cf;*/
  	color:#204d74;
  }
    #speakers a{
  	/*color: white;*/
  	color: #3cf;
  }

/*Custom Mobile Rules*/
 @media (max-width:600px){
    #speakers .container-fluid .row .speaker{
    height:200px;
  }
  }
@media (max-width: 768px) {
	#portfolio{
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	background-color: linen;
	height:525px;
	}

	.port_height{
		height: 450px;
	}
}



